<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Electron Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>
    This is Electron App With Version 1.0.0
  </h1>
</ion-content>
